.book {

  margin: 25px 0 0 60px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "book__header"
    "book__images"
    "book__info"
    "book__descr";

  @media (min-width: 768px) {
    max-width: 760px;
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-column-gap: 40px;
    grid-template-areas:
    "book__images  book__header"
    "book__images  book__info"
    "book__pages   book__info"
    ".             book__info"
    "book__descr   book__descr";
  }

  @media (min-width: 1200px) {
    max-width: 1160px;
    display: grid;
    grid-template-columns: 2fr 4fr 6fr;
    grid-column-gap: 40px;
    grid-template-areas:
    "book__pages   book__images  book__header"
    "book__pages   book__images  book__info"
    "book__pages   book__images  book__info"
    ".             book__descr   book__descr";
  }

    &__header {
      grid-area: book__header;
      margin-top: 8px;
    }

    &__images {
      grid-area: book__images;
      margin-right: 40px;
    }

    &__pages {
      grid-area: book__pages;
      width: 170px;
      height: 505px;
      margin-top: 25px;
      margin-left: 20px;
      padding: 15px 25px 0 25px;
      border: 4px solid $gray-lighten;
    }

    &__info {
      grid-area: book__info;
      width: 500px;
    }

    &__descr {
      grid-area: book__descr;
      font-size: $font-size;
      font-weight: 500;
      width: 730px;
      margin-left: 60px;
      margin-top: 20px;
    }

    &__avtor {
      font-size: $font-size-sm;
      font-weight: 600;
    }

    h1 {
      margin: 0 auto;
      font-size: $font-size-xl;
    }

    &__mini-descr {
      font-weight: 500;
    }

    &__table {
        padding: 40px 0 45px 0;
    }

    &__table-key {
      font-weight: 500;
      color: $gray;
      padding: 10px 40px 0 0;
    }

    &__table-val {
      font-weight: 600;
      padding: 10px 40px 0 0;
    }

    &__pages img {
      width: 110px;
      height: 158px;
      padding-bottom: 8px;
      min-width: 0;
    }

    &__title {
      font-size: $font-size-md;
    }

.book-more__btn {

    border: none;
    outline: none;
    background-color: transparent;
    color: $link-color;
    font-weight: 600;
    font-size: $font-size;
    font-family: inherit;
    margin: 30px 0 45px 0;
    padding: 0;
    cursor: pointer;

    svg {
      border: none;
      outline: none;
      background-color: transparent;
      color: $link-color;
      margin: 0px 0 0 15px;
    }
}
}
