.catalog {

    &__title {
      display: none;
    }

    &__list-inner {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      height: 100%;
      padding: 0;
      margin: 0 5%;
    }

    &__item {
      display: flex;
      width: 340px;
      padding: 55px 25px;
    }

}
