h1 {
  margin: 30px;
}


.map__location-inner {
  box-sizing: border-box;
  margin: 30px;
}

.map__location-list {
  box-sizing: inherit;
  display: flex;
  justify-content: space-around;
}

.map__location-pict {
  box-sizing: inherit;
  max-width: inherit;
}





