.field-checkbox {



  &__input {
    width:1px;
    height:1px;
    overflow:hidden;
    opacity:0;
    position: absolute;
    z-index: -1;
  }

  &__text {

    a {
    text-decoration: none;
  }

    position:relative;
    display: block;
    padding-left: 35px;
    font-size: $font-size;
    line-height:1.714em;
    font-weight: 500;
    margin-top: 15px;

    &:before {
      content:'';
      position:absolute;
      top: 2px;
      left: 0;
      width: 20px;
      height: 20px;
      border:4px solid $gray-light;
      transition:all 0.3s;
     }

    &:hover:before {
      content:'';
      position:absolute;
      top: 2px;
      left: 0;
      width: 20px;
      height: 20px;
      border:4px solid $gray-light;
    }
  }

  &__msg {}

}
