.form {
 border: 8px solid $gray-lighten;
 margin: 30px;
 padding: 25px;

    &__container {
      display: flex;
      flex-wrap: wrap;
    }

    &__title {}

    &__descr p {
      font-weight: 500;
    }


}
