.invitation {
  background-image: url(/img/bg_rose.jpg);
  background-size: auto;
  height: 100%;


  &__title {
    color: #fff;
    text-align: center;
    font-size: $font-size-xl;
    padding-top: 90px;

  }

  &__descr {
    color: #fff;
    text-align: center;
    font-size: $font-size;
    padding-bottom: 80px;
  }



}

