.mini-card {
	display: flex;


  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
    color: $gray-dark;
  }

  &__descr {
    font-weight: 500;
  }

  *,
  *:hover,
  *:visited {
  color: $gray-dark;
}

  &__price {
    margin-top: auto;
  }
}

