.tabs {

   background-color: $gray-lighten;

    &__list {
      display: flex;
      padding: 0;
      margin: 0 auto;
      list-style: none;
      max-width: $content-max-width;
    }

    &__item {}

    &__btn {

      display: inline-block;
      position: relative;
      padding: 22px 40px 5px;
      border: none;
      font: inherit;
      background-color: transparent;
      text-decoration: none;
      color: $gray-dark;
      font-weight: bold;
      cursor: pointer;

      @media (min-width: 1200px) {}

      @media (max-width: 780px) {
        margin-left: 70px;
        padding: 20px 0 5px 0;
        font-size: $font-size-sm;
      }

       @media (max-width: 480px) {
        margin: 0;
      }

    &:hover:after {
      transform: scaleX(1);
    }

    &:after {
      display: flex;
      list-style-type: none;
      content: "";
      height: 3px;
      left: 20px;
      right: 20px;
      bottom: -15px;
      position: absolute;
      background: #d7569c;
      transform: scaleX(0);
      transition: all 0.2s;
    }
  }

  &__btn:hover {
    color: $link-color;
  }

  &__btn:focus {
    outline: none;
  }
}
