extends ../pug/layout.pug

block meta
  title Книга
  meta(name='description', content='')


    //- article.book
    //- header.book__header Автор, название
    //- div.book__images Изображения
    //- div.book__pages Страницы
    //- div.book__info = book__table
    //- div.book__descr Описание


block content

  article.book
      header.book__header
        h3.book__avtor Эдди Юн
        h1.book__title Суперпотребители
        p.book__mini-descr Кто это и почему они важны для вашего бизнеса
      div.book__images
        img.book(src='img/books_all/superpotrebiteli.jpg', alt='', width='360px', height='507px')
      div.book__pages
        img.page(src='img/books_all/contents.jpg', alt='', width='110px', height='158px')
        img.page(src='img/books_all/page-1.jpg', alt='', width='', height='')
        img.page(src='img/books_all/page-2.jpg', alt='', width='', height='')
      div.book__info
        table.book__table
          tr
            td.book__table-key Артикул:
            td.book__table-val 1830720
          tr
            td.book__table-key В наличии:
            td.book__table-val 5 шт.
          tr
            td.book__table-key Издательство:
            td.book__table-val МИФ
          tr
            td.book__table-key Цена:
            td.book__table-val 800 р.
        button.btn Добавить в корзину
        input(type='text', value='', size='4')
        span шт.
        button.btn__heart
         svg(width='20', height='20')
           use(xlink:href='img/sprite.svg#heart')
         span 20 людям понравилась эта книга
      div.book__descr
        h4.book__title Короткое описание
        p В отличие от обычных покупателей суперпотребители очень заинтересованы в ваших товарах, а возможно, даже слегка помешаны на них.
        p Они знают о кроссовках всё и имеют десятки пар. Они спортивные фанаты c копиями футболок любимой команды, а стены их гаражей украшены подписанной символикой.
        button.swipe__btn Показать полностью
        svg(width='20', height='20')
          use(xlink:href='img/sprite.svg#down')
        button.social__btn(type='button')
          svg(width='20', height='20')
            use(xlink:href='img/sprite.svg#facebook')
          span.social__btn__num 3
        button.social__btn(type='button')
          svg(width='20', height='20')
            use(xlink:href='img/sprite.svg#vk')
          span.social__btn__num 8
        button.social__btn(type='button')
          svg(width='20', height='20')
            use(xlink:href='img/sprite.svg#like')
          span.social__btn__num 13
        button.social__btn(type='button')
          svg(width='20', height='20')
            use(xlink:href='img/sprite.svg#dislike')
          span.social__btn__num 4

  section.books-theme
    header.books-theme__header
      h2.books-theme__title Книги по тематике
      a.books-theme__link(href='') Больше книг по теме
    div.books-theme__list
      div.books-theme__item
        +mini-card('Работа в радость', 'book.html', 'img/books_all/rabota-v-radost.jpg', 'Бизнес-модель будущего')
      div.books-theme__item
        +mini-card('Сделано, чтобы прилипать', 'book.html', 'img/books_all/sdelano-chtoby-prilipat.jpg', 'Почему одни идеи выживают, а другие умирают')
      div.books-theme__item
        +mini-card('Школа CEO', 'book.html', 'img/books_all/shkola-ceo.jpg', 'Мастер-класс от 20 глобальных бизнес-лидеров')
      div.books-theme__item
        +mini-card('Теория игр', 'book.html', 'img/books_all/teoriya-igr.jpg', 'Искусство стратегического мышления в бизнесе и жизни')


  +invitation('Мы открыли для вас уютную библиотеку', 'img/bg_rose.jpg', 'Приходите к нам по адресу Никитинская 10, каждый день с 12:00 до 18:00')

