extends ../pug/layout.pug

block meta
  title Рекомендации
  meta(name='description', content='')


block content
  h1 Наши рекомендации
  +invitation('Мы открыли для вас уютную библиотеку', 'img/bg_rose.jpg', 'Приходите к нам по адресу Никитинская 10, каждый день с 12:00 до 18:00')
